<div>
  <h2 class="col-lg-12">SmartPing</h2>

  <div class="col-lg-12">
    <hr>
  </div>

  <div class="col-lg-12">
    <h3>Overview</h3>
    <div class="col-lg-12">
      <p>SmartPing</p>

    </div>

  </div>

  <div class="col-lg-12">
    <hr>
  </div>

  <h3 class="col-lg-12">Demo</h3>

  <div class="col-lg-12">
    <span class="btn btn-sm btn-success" ng-click="startPing(1)">Start ping 1</span>
    <span class="btn btn-sm btn-danger" ng-click="stopPing(1)">Stop ping 1</span>
    <span class="btn btn-sm btn-success" ng-click="startPing(2)">Start ping 2</span>
    <span class="btn btn-sm btn-danger" ng-click="stopPing(2)">Stop ping 2</span>
  </div>
</div>