<div>
  <h1>Modal Demo</h1>

  <div class="col-sm-3">
    <span class="btn btn-sm btn-danger" ng-click="alertModal()">Alert Modal</span>
  </div>
  <div class="col-sm-9">
    <pre>
    var options = {
      title: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Alert Modal</span><span style='color:#2a00ff; '>"</span>,
      message: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Warning this is an alert.</span><span style='color:#2a00ff; '>"</span>,
      confirm: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Ok</span><span style='color:#2a00ff; '>"</span>
    }

    smartModals.alert(options);
    </pre>
  </div>
  <div class="col-sm-3">
    <span class="btn btn-sm btn-success" ng-click="confirmModal()">Confirm Modal</span>
  </div>
  <div class="col-sm-9">

  </div>
  <div class="col-sm-3">
    <span class="btn btn-sm btn-primary" ng-click="customModal()">Custom Modal</span>
  </div>
</div>