<div>
  <h2 class="col-lg-12">SmartModals</h2>

  <div class="col-lg-12">
    <hr>
  </div>

  <div class="col-sm-3">
    <span class="btn btn-sm btn-danger" ng-click="alertModal()">Alert Modal</span>
  </div>
  <div class="col-sm-9">
    <pre>
    var options = {
      title: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Alert Modal</span><span style='color:#2a00ff; '>"</span>,
      message: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Warning this is an alert.</span><span style='color:#2a00ff; '>"</span>,
      close: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Ok</span><span style='color:#2a00ff; '>"</span>
    }

    smartModals.alert(options);
    </pre>
  </div>
  <div class="col-lg-12">
    <hr>
  </div>
  <div class="col-sm-3">
    <span class="btn btn-sm btn-success" ng-click="confirmModal()">Confirm Modal</span>
  </div>
  <div class="col-sm-9">
    <pre>
    var options = {
      title: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Confirm Modal</span><span style='color:#2a00ff; '>"</span>,
      message: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Do you approve this modal?</span><span style='color:#2a00ff; '>"</span>,
      close: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Yes</span><span style='color:#2a00ff; '>"</span>,
      dismiss: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>No</span><span style='color:#2a00ff; '>"</span>
    }

    smartModals.confirm(options)
    </pre>
  </div>
  <div class="col-lg-12">
    <hr>
  </div>
  <div class="col-sm-3">
    <span class="btn btn-sm btn-primary" ng-click="customModal()">Custom Modal</span>
  </div>
  <div class="col-sm-9">
    <pre>
    var options = {
      templateUrl: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>./routes/modal-demo/custom-modal.html</span><span style='color:#2a00ff; '>"</span>,
      title: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Custom Modal</span><span style='color:#2a00ff; '>"</span>,
      message: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>All modals can use &lt;b>Html tags&lt;/b> in the &lt;i>message&lt;/i> attribute.</span><span style='color:#2a00ff; '>"</span>,
      customAttribute: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>This is a new attribute not present on standard templates.</span><span style='color:#2a00ff; '>"</span>,
      closingMessage: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Callback functions can be assigned to the next attribute.</span><span style='color:#2a00ff; '>"</span>,
      close: <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>Ok</span><span style='color:#2a00ff; '>"</span>,
      next: function () {
        alert('Do callback stuff here!')
      }
    }

    smartModals.confirm(options)
    </pre>
  </div>
</div>